langchain-core==0.3.8
langchain==0.3.2
langchain-community==0.3.1
langchain-google-genai==2.0.0
langchain-openai==0.2.1
openai==1.57.4
pandas==2.2.2
pdf2image==1.17.0
PyPDF2==3.0.1
pytesseract==0.3.13
streamlit==1.37.1
duckduckgo-search==6.3.0
st-cookies-manager==0.2.2
Markdown==3.7
pdfkit==1.0.0
tiktoken==0.8.0
faiss-cpu==1.9.0.post1
youtube-transcript-api==0.6.3
python-pptx==1.0.2
python-docx==1.1.2